<h5>
Instructions: <br><br>
Media Math Interview Challenge 3/5/2016<br>
Generate a live feed of statuses of the NYC MTA transportation lines <br>
You are provided with the API: mta.info/status/serviceStatus.txt <br>
Scrape the Names and Statues of the transportation lines in the API (Subway, Bus etc..), and organize them by name and status
<br>
Since the API is in XML and not JSON, use the NOKOGIRI gem to scrape the API 
</h5>

<h2>Current status of MTA Lines as of:
<%= @current_time %>
</h2>

<table>
	
	<tr>
		<td>
			<h2>Train</h2>	
			<% @subway_names.each do |name| %>
			<ul style="list-style-type:none">
				<li><%= name %></li>
			</ul>
			<% end %>
		</td>
		<td>	
			<h2>Status</h2>
			<% @subway_status.each do |status| %>
			<ul style="list-style-type:none">
				<li><%= status %></li>
			</ul>
			<% end %>
		</td>
	</tr>

	<tr>
		<td>
			<h2>Buses</h2>	
			<% @bus_names.each do |name| %>
			<ul style="list-style-type:none">
				<li><%= name %></li>
			</ul>
			<% end %>
		</td>
		<td>	
			<h2>Status</h2>
			<% @bus_status.each do |status| %>
			<ul style="list-style-type:none">
				<li><%= status %></li>
			</ul>
			<% end %>
		</td>
	</tr>

	<tr>
		<td>
			<h2>BT</h2>	
			<% @bt_names.each do |name| %>
			<ul style="list-style-type:none">
				<li><%= name %></li>
			</ul>
			<% end %>
		</td>
		<td>	
			<h2>Status</h2>
			<% @bt_status.each do |status| %>
			<ul style="list-style-type:none">
				<li><%= status %></li>
			</ul>
			<% end %>
		</td>
	</tr>

	<tr>
		<td>
			<h2>LIRR</h2>	
			<% @lirr_names.each do |name| %>
			<ul style="list-style-type:none">
				<li><%= name %></li>
			</ul>
			<% end %>
		</td>
		<td>	
			<h2>Status</h2>
			<% @lirr_status.each do |status| %>
			<ul style="list-style-type:none">
				<li><%= status %></li>
			</ul>
			<% end %>
		</td>
	</tr>

	<tr>
		<td>
			<h2>MetroNorth</h2>	
			<% @mn_names.each do |name| %>
			<ul style="list-style-type:none">
				<li><%= name %></li>
			</ul>
			<% end %>
		</td>
		<td>	
			<h2>Status</h2>
			<% @mn_status.each do |status| %>
			<ul style="list-style-type:none">
				<li><%= status %></li>
			</ul>
			<% end %>
		</td>
	</tr>

</table>